/* big tablet to 1200 (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
	
	.hero-text-box {
	width: 100%;
	padding: 0 2%;
	}
	
	.row {padding: 0 2%;}
	
}







/* small tablet to big tablet */
@media only screen and (max-width: 1023px) {
	body{font-size: 18px}
	
	section{padding:60px 0}
	/** ------ **/
	.long-copy {
	width: 80%;
	margin:0 auto;
	}
	/** ------ **/
	.steps-box{margin-top: 10px}
	.steps-box:last-child {margin-top: 50px;}
	.work-steps{margin-bottom: 40px}
	.work-steps:last-of-type{ margin-bottom: 30px }
	.app-screen { width: 50%; }
	.work-steps div {
	height: 50px;
	width: 50px;
	font-size: 140%;
	}
 
	/** ------ */
		
	.section-cities ion-icon,
	.section-plan ion-icon{
		width: 17px;
		margin-right: 5px;
	}

	.city-feature{font-size: 90%;}
	
	
	.plan-box {
		width: 100%;
		margin: 0;
	}
	
	.plan-price {font-size: 250%;}
	
	.plan-box ul {font-size: 90%}
	
	.contact-form {
		width: 80%;}
	
	
	
/* small phone to small tablet*/
@media only screen and (max-width: 767px) {
	body{font-size: 16px;}
	section{padding: 30px 0 20px}
	.col {
		width: 100%;
		margin: 0 0 4% 0;
	}
	h1 {font-size: 180% }
	h2 {font-size: 150% }
	
	/* section 1 */
	.hero-text-box,
	.row {padding: 0 4%}
	.main-nav {display: none;}
	
	/* section work */
	.steps-box:first-child { text-align: center; }
	.steps-box:last-child {margin-top: 20px;}
	.app-screen { width: 40%; }
	
	.work-steps{margin-bottom: 20px}
	.work-steps:last-of-type{ margin-bottom: 30px }

	.work-steps div {
	height: 40px;
	width: 40px;
	margin-right: 15px;
	font-size: 120%:
	}
	
	.btn-app img {
	height: 35px;
	margin-right: 10px; 
	}
	
	/* cities section  */
	.social-links {
		margin-top: 20px;
		float: none;
		text-align: center;
	}
	footer p {
		margin-top: 15px;
	}
}



/*  small phone */
@media only screen and (max-width: 400px) {
	section{padding: 25px 0}
	.contact-form {width: 100%}
}